:root {
  --Darkcyan: hsl(158, 36%, 37%);
  --DarkcyanHover: hsl(158, 36%, 27%);
  --Cream: hsl(30, 38%, 92%);

  --Verydarkblue: hsl(212, 21%, 14%);
  --Darkgrayishblue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--Cream);
}

.container {
  max-width: 375px;
  min-height: 100vh;
}

@media (max-width: 767px) {
  .rounded-my {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
  .rounded-my {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.card-subtitle,
.card-text,
.sr-only {
  color: var(--Darkgrayishblue);
}

.card-subtitle {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.card-title,
.price {
  font-family: "Fraunces", serif;
}

.card-title {
  color: var(--Verydarkblue);
}

.present {
  color: var(--Darkcyan);
}

.past {
  text-decoration: line-through;
}

.btn-custom {
  background-color: var(--Darkcyan);
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: var(--DarkcyanHover);
}
